@charset "UTF-8";


.recMenuContainer {
	z-index: 20;
	width: 100%;
	height: 260px;
	overflow-x: scroll;
	padding: 5px;
	display: flex;
}

.recMenuContainer > .recMenuItem {
	width: 100%;
	position: relative;
}

.recMenuContainer > .recMenuItem > .pic {
	width: 100%;
}

.recMenuContainer > .recMenuItem > .info {
	width: 100%;
}

.recMenuContainer > .recMenuItem > .pic > img {
	width: 200px;
	height: 200px;
}

.recMenuContainer > .delIconContainer {
	position: absolute;
}

.delIconContainer > .material-icons {
	position: absolute;
	cursor: pointer;
	top: 10px;
}

.menuList {
	display: flex;
	height: 70px;
}

.menuList .menuItem {
	display: inline-block;
	width: 70px;
	height: 70px;
	color: white;
	position: relative;
}

.menuList .menuItem .delIconContainer .material-icons {
	position: absolute;
	cursor: pointer;
	color: black;
}

.menuList .menuItem:not(:first-child) {
	margin-left: 4px;
}

.menuList .menuItem img {
	width: 100%;
	height: 100%;
}

.menuList .menuItem .moreCnt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-detail {
	padding: 5px 0 10px 0;
}

#carouselContainer {
	transition: 0.5s;
	opacity: 0;
	z-index: -10;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000A;
	display: flex;
	justify-content: center;
	align-items: center;
}



#carouselContainer #imgContainer {
	background-color: #fff;
	width: 60%;
	height: 80%;
	position: relative;
}

#carouselContainer .material-icons {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 40px;
	color: #fff;
	cursor: pointer;
	font-size: 3rem;
}

.swiper-container 
.swiper-wrapper 
.swiper-slide {
	display: flex;
    justify-content: center;
    align-items: center;	
}    

.swiper-container 
.swiper-wrapper 
.swiper-slide
img {
	width: 100%;
	overflow: hidden;
}